@media all and (min-width: 671px) and (max-width: 1024px) {

/* NAVIGATION SECTION -----------------------------*/
    #header {
        grid-row: 1 / 2;
        grid-column: 1 / -1;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(0, 0, 0, 0);
        z-index: 10;
        width: 100%;
        position: relative;
        padding: 20px 30px 20px 30px;
    }

    #header .logo {
        width: 50px;
        height: auto;
    }

    #header .menu-btn {
        display: none;
        padding: 20px;
    }

    #header .menu-btn:checked ~ .menu-icon .nav-icon {
        background: transparent;
    }

    #header .menu-btn:checked ~ .menu-icon .nav-icon:before {
        transform: rotate(-45deg);
        top: 0px;
    }
    #header .menu-btn:checked ~ .menu-icon .nav-icon:after {
        transform: rotate(45deg);
        top: 0px;
    }

    #header .menu-btn:checked ~ nav ul {
        min-height: 400px;
    }

    #header .menu-icon {
        display: block;
        position: absolute;
        right: 30px;
        cursor: pointer;
        padding: 20px;
    }

    #header .menu-icon .nav-icon {
        display: block;
        height: 4px;
        width: 26px;
        position: relative;
        transition: background .2s ease-out;
        background:rgb(255, 255, 255);
    }
    
    #header .menu-icon .nav-icon:before {
        content: "";
        display: block;
        height: 4px;
        width: 26px;
        position: absolute;
        transition: all .2s ease-out;
        top: 10px;
        background:rgb(255, 255, 255);
    }
    
    #header .menu-icon .nav-icon:after {
        content: "";
        display: block;
        height: 4px;
        width: 26px;
        position: absolute;
        transition: all .2s ease-out;
        top: -10px;
        background:rgb(255, 255, 255);
    }
    
    #header nav ul {
        list-style: none;
        overflow: hidden;
        max-height: 0;
        position: absolute;
        top: 90px;
        left: 0px;
        text-align: center;
        min-width: 100%;
        background-color: var(--Red);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    #header ul li {
        list-style-type: none;
        display: inline;
        margin: 0px;
        width: 100%;
        text-align: center;
    }
    
    #header nav ul li a {
        display: block;
        font-size: 1.5rem;
        line-height: 1.5;
        font-weight: 700;
        text-decoration: none;
        color: rgb(255, 255, 255);
        padding: 20px;
    }
    
    #header nav ul li a:hover {
        text-decoration: none;
        color:var(--Red);
        background-color:var(--solidBlack);
    }
    
    #header nav ul li a:active {
        text-decoration: none;
        color: rgb(0, 0, 0);
    }
/* NAVIGATION SECTION END--------------------------*/

/* BANNER SECTION ---------------------------------*/
    #banner {
        grid-row: 1 / 3;
        grid-column: 1 / -1;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        z-index: 1;
        min-height: 900px;
        min-width: 100%;
        overflow: hidden;
        background-color: var(--solidBlack);
    }

    #banner .video {
        object-fit: cover;
        min-width: 100%;
        min-height: 106%;
        z-index: 1;
        background-color: var(--solidBlack);
        opacity: 0.6;
    }

    #banner .greeting {
        position: absolute;
        text-align: center;
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        justify-content: center;
        align-items: flex-start;
        min-height: 260px;
        width: auto;
        color: rgb(255, 255, 255);
        background-color: rgba(255, 255, 255, 0);
        z-index: 5;
        box-shadow: 0 0 0 0 var(--solidBlack);
        margin: 0px 30px;
    }

    @keyframes pulse {
        0% {
            box-shadow: 0 0 0 0 rgba(236, 0, 0, 0.2);
        }
    
        40% {
            box-shadow: 0 0 20px 15px rgba(236, 0, 0, 0.6);
        }
    
        60% {
            box-shadow: 0 0 0 0 rgba(236, 0, 0, 0.4);
        }
    
        100% {
            box-shadow: 0 0 0 0 rgba(236, 0, 0, 0);
        }
    }

    #banner .greeting .fancyText {
        text-align: left;
        font-size: 1.7rem;
        color: rgb(255, 255, 255);
    }

    #banner .greeting h1 {
        text-align: left;
        margin: 10px 0px 20px 0px;
        font-size: 3.3rem;
        color: rgb(255, 255, 255)
    }

    #banner .greeting a {
        font-size: 1.3rem;
        font-weight: 600;
        text-decoration: none;
        color: rgb(255, 255, 255);
    }

    #banner .greeting .spanContainer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 25px;
    }

    #banner .greeting .spanContainer .greetingButtonOne {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        min-height: 45px;
        padding: 10px 15px;
        border-radius: 30px;
        border: 1px solid var(--Red);
        margin: 0px 6px 0px 0px;
        background-color: var(--Red);
        animation: pulse 3.3s infinite;
    }

    #banner .greeting .spanContainer .greetingButtonOne a {
        color: rgb(255, 255, 255);
    }

    #banner .greeting .spanContainer .greetingButtonOne a:hover {
        color:rgba(255, 255, 255, 0.5);
    }

    #banner .greeting .spanContainer .greetingButtonOne a:active {
        color:var(--white);
    }

    #banner .greeting .spanContainer .greetingButtonTwo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        min-height: 45px;
        padding: 10px 15px;
        border-radius: 30px;
        border: 1px solid rgb(255, 255, 255);
        margin: 0px 10px 0px 0px;
        cursor: pointer;
    }

    #banner .greeting .spanContainer .greetingButtonTwo:hover {
        border: 1px solid var(--Red);
    }

    #banner .greeting .spanContainer .greetingButtonTwo:hover > a {
        color:var(--Red);
    }

    #banner .greeting .spanContainer .greetingButtonTwo a:active {
        color:var(--noWhite);
    }
/* BANNER SECTION END------------------------------*/

/* ABOUT US SECTION -------------------------------*/
    .about-us {
        grid-row: 3 / 4;
        grid-column: 1 / -1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--white);
        height: max-content;
        position: relative;
        z-index: 1;
        padding: 160px 0px 160px 0px;
    }

    .about-us .about-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 90%;
        height: max-content;
        gap: 30px;
    }

    .about-us .image {
        width: 100%;
        max-width: 560px;
        height: auto;
        margin: 0px auto;
    }

    .about-us .image img {
        width: 100%;
        height: auto;
        border-radius: 30px;
    }

    .about-us .left-align {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
    }

    .about-us h2 {
        color: var(--solidBlack);
        margin: 0px 0px 10px 0px;
        font-size: 3.3rem;
        line-height: 1.5;
        text-transform: uppercase;
    }

    .about-us p {
        text-align: left;
        overflow: wrap;
        font-size: 1.3rem;
        line-height: 1.5;
    }

/* ABOUT US SECTION END ---------------------------*/


/* SHOWROOM SECTION ------------------------------*/
#showroom {
    grid-row: 4 / 5;
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: max-content;
    position: relative;
    z-index: 1;
    background-color: var(--mediumGrey);
    padding: 160px 0px;
}

#showroom .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    position: relative;
    z-index: 10;
}

#showroom .cards .showroom-heading {
    color: var(--solidBlack);
    height: auto;
    text-align: center;
    text-transform: uppercase;
}

#showroom .cards .showroom-heading h2 {
    padding: 0px;
    margin: 0px auto 0px auto;
    font-size: 2.9rem;
    line-height: 1.8rem;
    border: none;
}

#showroom .cards .card-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 86%;
    gap: 60px;
}

#showroom .card-text {
    height: auto;
    width: 100%;
}

#showroom .cards img {
    flex: 1;
    border-radius: 15px;
    object-fit: cover;
    box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 0px;
}

#showroom .cards h2 {
    color: var(--solidBlack);
    font-size: 1.7rem;
    margin: 20px 0px 15px 0px;
    padding: 6px 0px;
    border-bottom: 1px solid rgb(0, 0, 0);
}

#showroom .cards p {
    color: var(--solidBlack);
    font-size: 1.3rem;
    line-height: 1.5;
    
}

#showroom .card-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    height: max-content;
    max-width: 600px;
    padding: 27px 25px;
    background-color: var(--white);
    border-radius: 15px;
    transition: 0.5s;
    overflow: hidden;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.3);
}

#showroom .card-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    overflow: hidden;
    height: max-content;
    max-width: 600px;
    padding: 27px 25px;
    border-radius: 15px;
    background-color: var(--white);
    transition: 0.5s;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.3);
}

#showroom .card-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    position: relative;
    max-width: 600px;
    padding: 27px 25px;
    border-radius: 15px;
    background-color: var(--white);
    transition: 0.5s;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.3);
}

#showroom .card-2 img, .card-1 img {
    object-fit: cover;
    width: 100%;
    height: auto;
}

#showroom .cards .card-box .card-3 .three {
    object-fit: cover;
    width: 100%;
    height: auto;
}

#showroom .card-1:hover {
    animation: pulseThree 0.6s linear;
    transition: all ease-in-out;
}

#showroom .card-2:hover {
    animation: pulseThree 0.6s linear;
    transition: all ease-in-out;
}

#showroom .card-3:hover {
    animation: pulseThree 0.6s linear;
    transition: all ease-in-out;
}

@keyframes pulseThree {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.8);
    }

    60% {
        transform: scale(1.03);
        box-shadow: 0 0 20px 30px rgba(255, 236, 150, 0);
    }

    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(255, 236, 150, 0);
    }
}

.link-box {
    padding: 10px 15px;
    border-radius: 30px;
    background-color: rgb(218, 0, 0);
    width: max-content;
    margin: 15px 0px 0px 0px;
}

.link-box:hover {
    transform: scale(1.06);
    color: rgba(255, 255, 255, 0.4);
}

.link-box a {
    font-size: 1.1rem;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    text-align: center;
}

/* showroom SECTION END---------------------------*/


/* FOOTER SECTION -------------------------------------------------*/

    /*
    #footer
    #footer .legal
    #footer .notice
    #footer .legal .termsAndConditions
    #footer .legal .privacyPolicy
    #footer .legal .copyright
    #footer .legal .disclaimer
    #footer .legal .contact
    */

    #footer {
        grid-row: 6 / 7;
        grid-column: 1 / -1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: max-content;
        gap: 20px;
        background-color: rgb(0, 0, 0);
    }

    #footer .legal {
        display: grid;
        grid-template-columns: repeat(3, minmax(min-content, max-content));
        grid-template-rows: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 40px 40px 0px 40px;
        gap: 40px;
    }

    #footer .legal .termsAndConditions, .privacyPolicy, .copyright, .disclaimer, .contact {
        width: max-content;
    }

    #footer .legal .termsAndConditions ul {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-column-gap: 33px;
    }

    #footer .legal .privacyPolicy ul {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-column-gap: 30px;
    }

    #footer .legal .copyright ul {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-column-gap: 30px;
    }

    #footer .legal h2 {
        font-size: 1.1rem;
        text-transform: uppercase;
        margin-bottom: 10px;
        color: rgba(255, 255, 255, 1);
        padding: 5px 0px;
        width: 100%;
    }

    #footer .legal ul {
        list-style-type: none;
        padding: 0px 0px;
    }

    #footer .legal ul li {
        margin: 10px 0px;
    }

    #footer .legal ul li a {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.6);
    }

    #footer .legal li a:hover {
        color: rgba(236, 0, 0, 1);
    }

    #footer .notice {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        color: rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);
        padding: 0px 20px 20px 20px;
        border-top: 1px solid rgb(219, 219, 219);
        padding: 20px 40px 20px 40px;
    }

/* FOOTER SECTION END ---------------------------------------------*/
    
}